<h1 class="text-center text-sucess"> We regret you are leaving, <%= @user.name %> </h1>

<div class="container mt-4">
    Sorry for inconvienience caused (If any). You can create your account once again at any time. 
    We'll be looking forward for any reviews from you.

</div>

<h4> Thank you, </h4>
<h4> Admin team </h4>