<h1>We are happy to share that Skills Matched....</h1>

<div class="container mt-4">
    <%= image_tag("logo.png", width: 300) %>
    <% if @user.check %>
      <ul>
        <li>Check your profile for new job post added.</li>
        <li>Message to the co-ordinator from the application.</li>
        <li>Best of luck from our team</li>
      </ul>
    <%else %>
      <ul>
        <li>One of your Job post required skills matched with a Candidate from our application</li> 
        <li>Message the candidate from our application. </li>
        <li>We hope you get the best. </li>
      </ul>
    <%end%>

</p>

<h4> Thank you, </h4>
<h4> Admin team </h4>