<h1 class="text-center"> Catalogue Ally</h1>
<div class="mt-4 p-4 bg-primary text-white rounded text-center home" >
  <%= image_tag("Catalogue Ally.png", width: 350) %>
  <br>
  <button class="btn btn-info"> Login </button> 
  <button class="btn btn-primary"> Sign-up! </button> 
</div>
