<h1 class="text-center"> Career Connect</h1>
<div class="mt-4 p-4 bg-primary text-white rounded text-center home" >
  <%= image_tag("career connect.png", width: 350) %>
  <br>
  <%= link_to 'Login', login_path, {:class => "btn btn-primary"}%>
  <%= link_to 'Sign-up', signup_path, {:class => "btn btn-success"}%>
</div>
